@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Courses</PageTitle>

<h1>Mina avslutade kurser</h1>



@if (courses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="space">Kurskod</th>
                <th class="space">Namn</th>
                <th class="space">Progression</th>
                <th class="space">URL</th>

               
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr>
                    <td class="space">@course.Kurskod</td>
                    <td class="space">@course.Namn</td>
                    <td class="space">@course.Progression</td>
                    <td class="space"> <a href="@course.URL">URL</a></td>
                    
                </tr>
            }
        </tbody>
    </table>
   
}    


@code {
    private ListOfCourses[]? courses;

    protected override async Task OnInitializedAsync()
    {
        courses = await Http.GetFromJsonAsync<ListOfCourses[]>("sample-data/Courses.json");
    }

    public class ListOfCourses
    {
        public string Kurskod { get; set; }

        public string Namn { get; set; }

        public string? Progression { get; set; }
        public string URL { get; set; }


    
    }
}
